<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> olx </title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
</head>
<body>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        
        <div class ="col-xs-8">            
                <div>
                    <img src="icon.100x100-75.jpg" />
                    <b> Pakistan's Largest MarketPlace </b>
            
                 
                     <a style="color:blue  ; margin-top:34px ; margin-left:340px " >
                         <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  My Account 

                     </a>
                            &nbsp &nbsp
                     <a style="color:orange ; float:right ; margin-top:36px"> 
                         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit an Add 
                     </a> 
                     <br />
                </div>
                <br />

                <table style="border:1px ridge">
                     <tr style="height:30px;">
                         <td class="col-xs-1">                        
                             <button type="submit" class="btn btn-default" style="background-color:whitesmoke; color:blue;float:left;width:100px"> 
                                Back
                             </button>
                         </td>
                         <td class="col-xs-6">                        
                             Location &nbsp&nbsp&nbsp&nbsp Category
                         </td>
                         <td class="col-xs-1">                        
                             <button type="submit" class="btn btn-default" style="background-color:whitesmoke; color:blue;float:right;width:100px"> 
                                Next Ad
                             </button>
                         </td>
                         
                     </tr>
                </table>
                
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <a class="col-xs-6" style="border:1px solid" >
                <table >
                     <tr style="height:50px;">                   
                         <td class="col-xs-6" >                        
                             <b style="font-size:16px"> Title of the Ad </b>
                         </td>                   
                     </tr>

                    <tr>
                        <td>
                        <b>
                                <span style="color:red;background-color:white;" class="input-group-addon glyphicon glyphicon glyphicon-map-marker" aria-hidden="true">Location</span> 
                                Location
                        </b>
                            </td>
                    </tr>
                </table>
           </a>

            <div class="col-xs-2">
                <h3 style="height:200px"> <span class="label label-warning">  Price </span> </h3>
            </div>
    </div>

</body>
</html>
